  <h3><%= @party.name %> </h3>
  <table class="table table-hover table-bordered">
    <tbody>
      <% @party.won_in_positions.each do |position| %>
        <tr>
          <th colspan="1"> <%= position %> place</td>
          <th colspan="4"> Parliament (<%= @party.nominations.with_position(position).mps.count %>)</td>
        </tr>
        <%= render partial: 'nominations/mp_seperator' %>
        <%= render partial: 'nominations/party_nomination', collection: @party.nominations.with_position(position).mlas, locals: { position: position }, as: :candidate %>

        <tr>
          <th colspan="1"> <%= position %> place</td>
          <th colspan="4"> Parliament (<%= @party.nominations.with_position(position).mps.count %>)</td>
        </tr>
        <%= render partial: 'nominations/mla_seperator' %>
        <%= render partial: 'nominations/party_nomination', collection: @party.nominations.with_position(position).mps, locals: { position: position }, as: :candidate  %>
      <% end %>
    </tbody>
  </table>
