<h3><%= @party.name %> </h3>
<ul id="tabs" class="nav nav-tabs">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assembly <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% @party.mlas_positions.each_with_index do |position, index| %>
        <li>
          <%= link_to "#{position} position", "#assembly#{position}", "data-toggle" => 'tab' %>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parliament <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% @party.mps_positions.each do |position| %>
        <li>
          <%= link_to "#{position} position", "#parliament#{position}", "data-toggle" => 'tab' %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
<div class="tab-content">
  <% @party.mlas_positions.each do |position| %>
    <div id="assembly<%= position %>" class="tab-pane fade">
      <%= render partial: 'nominations/party_nominations', locals: { candidates: @party.nominations.with_position(position).mlas } %>
    </div>
  <% end %>
  <% @party.mps_positions.each do |position| %>
    <div id="parliament<%= position %>" class="tab-pane fade">
      <%= render partial: 'nominations/party_nominations', locals: { candidates: @party.nominations.with_position(position).mps } %>
    </div>
  <% end %>
</div>
