<table class="table table-condensed table-bordered">
  <thead>
    <tr bgcolor="#a9a9a9">
      <th>Name</th>
      <th>Winner</th>
      <th>Votes</th>
      <th>Runner Up</th>
      <th>Votes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @seats.each do |mla| %>
      <tr>
        <td><%= mla.name %></td>
        <td><%= mla.winner.candidate %>(<%= link_to mla.winner.party.abbr, mla.winner.party %>)</td>
        <td><%= mla.winner.votes %></td>
        <td><%= mla.runner.candidate %>(<%= link_to mla.runner.party.abbr, mla.runner.party %>)</td>
        <td><%= mla.runner.votes %></td>
        <td><%= link_to 'Others', mla %></td>
      </tr>
    <% end %>
  </tbody>
</table>
