<table class="table table-condensed table-bordered">
  <thead>
    <tr bgcolor="#a9a9a9">
      <th>Sl</th>
      <th>Name</th>
      <th>Winner</th>
      <th>Votes</th>
      <th>Runner Up</th>
      <th>Votes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each_with_index do |mla, index| %>
      <tr>
        <td> <%= index + 1 %> </td>
        <td><%= mla.name %></td>
        <td><%= mla.winner.candidate %>(<%= mla.winner.party.name %>)</td>
        <td><%= mla.winner.votes %></td>
        <td><%= mla.runner.candidate %>(<%= mla.runner.party.name %>)</td>
        <td><%= mla.runner.votes %></td>
        <td><%= link_to 'Candidates', seat_path(mla), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
