<tr>
  <td> <%= candidate.seat.name %></td>
  <td> <%= candidate.candidate %></td>
  <td> <%= candidate.votes %></td>
  <td>
    <% if position > 1 %>
      <%= candidate.lost_by %>
    <% end %>
  </td>
  <td>
    <% if position > 1 %>
      <%= candidate.winner.candidate %>(<%= link_to candidate.winner.party.name, candidate.winner.party %>)
    <% end %>
  </td>
</tr>
