<tr>
  <td> <%= candidate.seat.name %></td>
  <td> <%= candidate.candidate %></td>
  <td> <%= number_with_delimiter candidate.votes %></td>
  <td>
    <% if candidate.lost?  %>
      <%= candidate.winner.candidate %>(<%= link_to candidate.winner.party.name, candidate.winner.party %>)
    <% end %>
  </td>
  <td>
    <% if candidate.lost?  %>
      <%= number_with_delimiter candidate.lost_by %>
    <% end %>
  </td>
</tr>
